table {
    border-collapse:collapse;
    width: 1000px !important;
} 
td,th {
	border:1px solid #000;
	text-align: center;
}
#site_dispatch1 {
	text-align: left;
	border: 0;
}
.toggle {
	display: inherit !important;
}
.hidden {
	display: none;
}
#print1 {
	display: table !important;
}
input {
	border: 0;
}