#print {
    display: inline-table !important;
    width: 1150px !important;
}
td,th {
    border:1px solid #000;
}
.no-border {
    border:0 !important; 
}
/* td > div {
	width: 100px;
	white-space: normal;
} */